:root {
 --white-color: white;
 --bg-color: #EEEEEE;
 --even-cell-color: #F9FAFA;
 --filter-bg-color: #808080;
 --sb-track-color: #d7d7d7;
 --sb-thumb-color: #9aa3b2;
 --btn-red-color:  #ED4E4E;
 --btn-blue-color:  #00A0E3;
 --sb-size: 4px;
 --cell-padding: 15px 16px;
 --btn-padding: 4px 8px;
 --btn-border-radius: 4px;
 --cell-font-size: 12px;
}